.bg{
    background: rgba(255, 255, 255, 0.6);
}
.bg-2{
    background: rgba(255, 254, 254, 0.8);
    box-shadow: 0 0 10px white;
    transition: 0.3s;
}
.bg-2:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.animate__fadeIn{
    --animate-duration: 2s;
}