.back-img{
    background: rgba(0,0,0,0.5) url("https://images.unsplash.com/photo-1492683962492-deef0ec456c0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1638&q=80") no-repeat fixed center/cover;
    min-height: 100vh;
    background-blend-mode: darken;
}
.font50{
    font-size: 50px;
    text-transform: uppercase;
}
.font28{
    font-size: 28px;
    text-transform: uppercase;
}

.filter{
    filter: grayscale(100%);
    cursor: pointer;
    transition: .3s;
}
.filter:hover{
    filter: grayscale(0);
}
